<section class="projects" id="projects">

  <div class="container">

    <h2 class="projects__title section-title">
      Selected Projects
    </h2>

    <div class="projects__grid">

      @for (project of projects; track project.id) {

        <article class="projects__card card">

          <img
            class="projects__card-image project-image"
            [src]="project.image"
            [alt]="project.title">

          <div class="projects__card-content">

            <h3 class="projects__card-title">
              {{ project.title }}
            </h3>

            <p class="projects__card-description">
              {{ project.description }}
            </p>

            <div class="projects__card-technologies">

              @for (technology of project.technologies; track technology) {

                <span class="projects__tag">
                  {{ technology }}
                </span>

              }

            </div>

            <div class="projects__card-actions">

              <a
                [href]="project.github"
                target="_blank">

                GitHub

              </a>

              <a
                  [routerLink]="['/projects', project.id]">

                  View Details →

              </a>

            </div>

          </div>

        </article>

      }

    </div>

  </div>

</section>
